        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background: #ffffff;
        }

        header {
            background: black;
            color: white;
            text-align: center;
            padding: 10px 40px;
        }

        header img {
            width: 90%;
            border-radius: 10px;
        }

        main {
            padding: 20px;
            max-width: 1200px;
            margin: auto;
        }

        h2 {
            margin-top: 30px;
            text-align: center;
        }

        a {
            color: #000000;
            font-weight: bold;
            text-decoration: none;
        }

        a:hover {
            color: #000000;
            text-decoration: underline;
        }

        footer .xarxes a {
            margin: 0 8px;
            font-size: 1vw;
            color: white;
        }

        #links {
            color: #ffffff;
            font-size: 1.5vw;
            padding-bottom: 10px;
        }

        footer {
            background: #000000;
            color: white;
            text-align: center;
            margin-top: 10px;
            padding-top: 20px;
            padding-bottom: 30px;
        }

        audio {
            display: block;
            margin: 20px auto;
            width: 80%;
            max-width: 500px;
            border-radius: 10px;
            background: #f2f4f5;
            box-shadow: 0 0 5px rgba(0,0,0,0.3);
        }

        table {
            margin-top: 20px;
            border-radius: 10px;
            overflow: hidden;
        }

        td {
            background: #f7f7f7;
        }
        
        .mapa iframe {
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(0,0,0,0.3);
        }

        .galeria {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            gap: 20px;
        }

        .foto {
            background: white;
            padding: 10px;
            border-radius: 10px;
            width: 30%;
            text-align: center;
            box-shadow: 0 0 5px #797979;
        }

        .foto img {
            width: 100%;
            border-radius: 10px;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            background: white;
        }

        th, td {
            border: 1px solid #000000;
            padding: 10px;
            text-align: center;
        }

        th {
            background: #000000;
            color: white;
        }

        .videos {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            justify-content: center;
        }

        .videos iframe {
            width: 350px;
            height: 200px;
            border-radius: 10px;
        }

        .mapa {
            display: flex;
            justify-content: center;
            margin-top: 30px;
        }

        iframe {
            border: 0;
        }